<%- model_class = Reserva -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:sala) %></th>
      <th><%= model_class.human_attribute_name(:usuario) %></th>
      <th><%= model_class.human_attribute_name(:Reserva) %></th>
      <th><%= model_class.human_attribute_name(:Descripcion) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:Aprobado) %></th>
      <th><%= model_class.human_attribute_name(:Creado) %></th>
      <th><%=t '.actions', :default => t("helpers.acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= link_to reserva.id, reserva_path(reserva) %></td>
        <td><%= reserva.sala_name %></td>
        <td><%= reserva.user_name %></td>
        <td><%= reserva.fe_reserva %></td>
        <td><%= reserva.descripcion %></td>
        <td><%= reserva.estado %></td>
        <td><%= reserva.aprobado == true ? 'Aprobado' :'Desaprobado' %></td>
        <td><%=l reserva.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_reserva_path(reserva), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      reserva_path(reserva),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás Seguro?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_reserva_path,
            :class => 'btn btn-info' %>
