<p id="notice"><%= notice %></p>

<p>
  <strong>Trabajador:</strong>
  <%= @administrator_local.employee %>
</p>

<p>
  <strong>Local:</strong>
  <%= @administrator_local.local %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @administrator_local.estado %>
</p>

<%= link_to 'Editar', edit_administrator_local_path(@administrator_local) %> |
<%= link_to 'Regresar', administrator_locals_path %>
