<div class="jumbotron">
  <center><h1>Escoge tus canciones favoritas!</h1></center>
    <li class="normal"><%= link_to "Michael Jackson - Thriller (Karaoke Version) ", canciones_thriller_path  %></li>
    <li class="normal"><%= link_to "Sia - Chandelier  (Karaoke Version) ", canciones_chandelier_path  %></li>
    <li class="normal"><%= link_to "Jessie J - Flashlight (Karaoke Version) ", canciones_flashlight_path  %></li>
    <li class="normal"><%= link_to "Taylor Swift - Blank Space (Karaoke Version) ", canciones_blankspace_path  %></li>
    <li class="normal"><%= link_to "Shakira - Try Everything (Karaoke Version) ", canciones_tryeverything_path  %></li>
    <li class="normal"><%= link_to "Paramore - Ignorance (Karaoke Version) ", canciones_ignorance_path  %></li>
    <li class="normal"><%= link_to "Justin Timberlake - Can't stop the feeling (Karaoke Version) ", canciones_thefeeling_path  %></li>
    <li class="normal"><%= link_to "Ariana Grande - Be Alright (Karaoke Version) ", canciones_bealright_path  %></li>
    <li class="normal"><%= link_to "Iggy Azalea - Team (Karaoke Version) ", canciones_team_path  %></li>
    <li class="normal"><%= link_to "Nicki Minaj - Super Bass (Karaoke Version) ", canciones_superbass_path  %></li>
    
    <li class="normal"><%= link_to "Ed Sheeran - One (Karaoke Version)", canciones_one_path  %></li>
    <li class="normal"><%= link_to "DJ Snake ft. Bipolar Sunshine - Middle (Karaoke Version)", canciones_sunshine_path  %></li>
    <li class="normal"><%= link_to "Elton John - Your Song (Karaoke Version)", canciones_your_path  %></li>
    <li class="normal"><%= link_to "Nicki Minaj - Super Bass (Karaoke Version) ", canciones_superbass_path  %></li>
    <li class="normal"><%= link_to "Nicki Minaj - Super Bass (Karaoke Version) ", canciones_superbass_path  %></li>
    <li class="normal"><%= link_to "Nicki Minaj - Super Bass (Karaoke Version) ", canciones_superbass_path  %></li>
    <li class="normal"><%= link_to "Nicki Minaj - Super Bass (Karaoke Version) ", canciones_superbass_path  %></li>
    <li class="normal"><%= link_to "Nicki Minaj - Super Bass (Karaoke Version) ", canciones_superbass_path  %></li>
    <li class="normal"><%= link_to "Nicki Minaj - Super Bass (Karaoke Version) ", canciones_superbass_path  %></li>
    <li class="normal"><%= link_to "Nicki Minaj - Super Bass (Karaoke Version) ", canciones_superbass_path  %></li>
    
    
    
</div>

