<li><%= image_tag "logo.png",width:"90",height:"90" %></li>
<li><%= link_to "ADMINISTRACIÓN", intranet_path  %></li>
<li><%= link_to "CANCIONES", pages_canciones_path  %></li>
<li><%= link_to "NOSOTROS", pages_about_us_path  %></li>
<li><%= link_to "CONDICIONES DE SERVICIO", pages_tos_path  %></li>
<li><%= link_to "PREGUNTAS FRECUENTES", pages_faq_path  %></li>
<li><%= link_to "CONTACTO", pages_contact_us_path  %></li>

<!--<li>< %= link_to "REGISTRO", new_user_registration_path  %></li>-->
